<div class="row">
  <div class="col-6 offset-3">

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary text-center">
        <strong class="text-primary"><%= t('views.sessions.new_html.title') %></strong>
      </div>
      <div class="card-body">
        <%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
          <div class="row d-flex align-items-center form-group">
            <div class="col-4 text-left">
              <strong class="text-primary"><%= t('views.sessions.email') %></strong>
            </div>
            <div class="col-8 text-left">
              <%= form.email_field :email, placeholder: "email@example.com", class: "form-control rounded-0" %>
            </div>
          </div>
          <hr color="#007BFF">
          <div class="row d-flex align-items-center form-group">
            <div class="col-4 text-left">
              <strong class="text-primary"><%= t('views.sessions.password') %></strong>
            </div>
            <div class="col-8 text-left">
              <%= form.password_field :password, placeholder: "6文字以上", class: "form-control rounded-0" %>
            </div>
          </div>
          <hr color="#007BFF">

          <div class="actions text-center">
            <%= form.submit value: 'ログイン', class: "btn btn-outline-primary rounded-0" %>
          </div>

        <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <%= link_to '新規登録', new_user_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    </div>

  </div>
</div>
