<%= form_with(model: @task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "件") %> のエラーが発生しました</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, id: "task_name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, id: "task_description"  %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :deadline, id: "task_deadline"  %>
    <%= form.datetime_field :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
