<h1><%= t('views.tasks.index_html.title') %></h1>

<p id="notice"><%= notice %></p>

<br>

<%= link_to "作成日時順", tasks_path %>
<%= link_to "終了期限順", tasks_path(sort_expired: "deadline") %>

<table>
  <thead>
    <tr>
      <th><%= t('views.tasks.name') %></th>
      <th><%= t('views.tasks.description') %></th>
      <th>終了期限</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task, class: 'task_name' %></td>
        <td><%= task.description %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to t('views.tasks.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('views.tasks.destroy'), task, method: :delete, data: { confirm: "このタスクを削除します。よろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.tasks.create'), new_task_path %>
