<h1><%= t('views.tasks.index_html.title') %></h1>

<p id="notice"><%= notice %></p>

<br>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_status_cont, placeholder: "タスク名 or ステータス" %>
  <%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :status, t('views.tasks.status')) %></th>
      <th><%= sort_link(@q, :name, t('views.tasks.name')) %></th>
      <th><%= sort_link(@q, :description, t('views.tasks.description')) %></th>
      <th><%= sort_link(@q, :description, t('views.tasks.deadline')) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.status %></td>
        <td><%= link_to task.name, task, class: 'task_name' %></td>
        <td><%= task.description %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to t('views.tasks.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('views.tasks.destroy'), task, method: :delete, data: { confirm: "このタスクを削除します。よろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.tasks.create'), new_task_path %>
