<div class="row">
  <div class="col-8 offset-2">

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary text-center">
        <div class="row d-flex align-items-center">
          <div class="col-7 text-right">
            <strong class="text-primary"><%= link_to t('views.tasks.index_html.title'), tasks_path %></strong>
          </div>
          <div class="col-5 text-right">
            <strong class="text-primary"><%= link_to t('views.tasks.create'), new_task_path, class: 'btn btn-outline-primary btn-sm rounded-0' %></strong>
          </div>
        </div>
      </div>
      <div class="card-header bg-transparent border-primary">
        <div class="row d-flex align-items-center">
          <div class="col-12 text-center">
            <%= search_form_for @query do |form| %>
              <%= form.select :connects_label_id_eq, [['仕事', 1], ['勉強', 2], ['交際', 3], ['健康', 4], ['その他', 5]], include_blank: 'ラベル' %>
              <%= form.select :status_eq, Task.statuses.map{|key, value| [Task.statuses_i18n[key], value]}, include_blank: 'ステータス' %>
              <%= form.search_field :name_cont, placeholder: "タスク名", type: 'search_task_name'  %>
              <%= form.submit "検索", class: 'search_btn' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row d-flex align-items-center">
          <div class="col-10 offset-1">
            <% if @mytasks != [] %>
              <table width="100%">
                <thead>
                  <tr class="text-center border-bottom border-primary">
                    <th><%= sort_link(@query, :priority, t('views.tasks.priority')) %></th>
                    <th><%= sort_link(@query, :status, t('views.tasks.status')) %></th>
                    <th><%= sort_link(@query, :name, t('views.tasks.name')) %></th>
                    <th><%= sort_link(@query, :deadline, t('views.tasks.deadline')) %></th>
                    <th colspan="2"></th>
                  </tr>
                  <tr class="border-bottom border-primary">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @mytasks.each do |task| %>
                    <tr class="text-center border-bottom border-primary">
                      <td><%= task.priority_i18n %></td>
                      <td><%= task.status_i18n %></td>
                      <td><%= link_to task.name, task, class: 'task_name' %></td>
                      <td><%= task.deadline.strftime("%Y年%m月%d日") %></td>
                      <td><% task.labels.pluck(:label) %></td>
                      <td><%= link_to '×', task, method: :delete, data: { confirm: "このタスクを削除します。よろしいですか？" } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
            <% else %>
              <div class="row d-flex align-items-center">
                <div class="col-10 offset-1 text-center">
                  <strong>タスクがありません ⇨ <%= link_to t('views.tasks.create'), new_task_path %></strong>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-8 offset-2">
            <%= paginate @mytasks %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
