<h1><%= t('views.tasks.show_html.title') %></h1>

<p id="notice"><%= notice %></p>

<br>

<p><%= t('views.tasks.priority') %>：<strong><%= @task.priority_i18n %></strong></p>
<p><%= t('views.tasks.status') %>：<strong><%= @task.status_i18n %></strong></p>
<p><%= t('views.tasks.name') %>：<strong><%= @task.name %></strong></p>
<p><%= t('views.tasks.description') %>：<strong><%= @task.description %></strong></p>
<p><%= t('views.tasks.deadline') %>：<strong><%= @task.deadline.strftime("%Y-%m-%d") %></strong></p>


<br>

<%= link_to t('views.tasks.edit'), edit_task_path(@task) %> |
<%= link_to t('views.tasks.back'), tasks_path %>
