<div class="row">
  <div class="col-6 offset-3">

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary">
        <div class="row d-flex align-items-center">
          <div class="col-7 text-right">
            <strong class="text-primary"><%= t('views.users.show_html.title') %></strong>
          </div>
          <div class="col-5 text-right">
            <strong class="text-primary"><%= link_to t('views.users.edit'), edit_user_path(@user), class: 'btn btn-outline-primary btn-sm rounded-0' %></strong>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3 text-left">
            <strong class="text-primary"><%= t('views.users.name') %></strong>
          </div>
          <div class="col-0.5 text-center">：</div>
          <div class="col-8.5 text-left">
            <%= @user.name %>
          </div>
        </div>
        <hr color="#007BFF">
        <div class="row">
          <div class="col-3 text-left">
            <strong class="text-primary"><%= t('views.users.email') %></strong>
          </div>
          <div class="col-0.5 text-center">：</div>
          <div class="col-8.5 text-left">
            <%= @user.email %>
          </div>
        </div>
        <hr color="#007BFF">
        <div class="row">
          <div class="col-3 text-left">
            <strong class="text-primary"><%= t('views.users.created_at') %></strong>
          </div>
          <div class="col-0.5 text-center">：</div>
          <div class="col-8.5 text-left">
            <%= @user.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </div>
        </div>
        <% unless @user.created_at == @user.updated_at %>
          <hr color="#007BFF">
          <div class="row">
            <div class="col-3 text-left">
              <strong class="text-primary"><%= t('views.users.updated_at') %></strong>
            </div>
            <div class="col-0.5 text-center">：</div>
            <div class="col-8.5 text-left">
              <%= @user.updated_at.strftime("%Y年%m月%d日 %H時%M分") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <%= link_to t('views.users.back'), tasks_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    </div>

  </div>
</div>
