<div class="row">
  <div class="col-8 offset-2">

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary text-center">
        <strong class="text-primary"><%= t('views.users.edit_html.title') %></strong>
      </div>
      <div class="card-body">
        <%= form_with(model: [:admin, @user], local: true) do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="row" >
              <div class="col-12 text-left alert alert-danger rounded-0" role="alert">
                <strong class="alert-heading">⚠︎ <%= pluralize(@user.errors.count, "件") %> のエラーが発生しました</strong>
                <ul class="mb-0">
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <br>
          <% end %>

          <div class="row d-flex align-items-center form-group">
            <div class="col-4 text-left">
              <strong class="text-primary">権限</strong>
            </div>
            <div class="col-8 text-left">
              <%= form.select :admin, [["一般", false], ["管理者", true]] %>
            </div>
          </div>
          <hr color="#007BFF">
          <div class="row d-flex align-items-center form-group">
            <div class="col-4 text-left">
              <strong class="text-primary"><%= t('views.users.name') %></strong>
            </div>
            <div class="col-8 text-left">
              <%= form.text_field :name, placeholder: "名前を入力してください", class: "form-control rounded-0" %>
            </div>
          </div>
          <hr color="#007BFF">
          <div class="row d-flex align-items-center form-group">
            <div class="col-4 text-left">
              <strong class="text-primary"><%= t('views.users.email') %></strong>
            </div>
            <div class="col-8 text-left">
              <%= form.email_field :email, placeholder: "email@example.com", class: "form-control rounded-0" %>
            </div>
          </div>
          <hr color="#007BFF">

          <%= form.hidden_field :password, placeholder: "6文字以上", class: "form-control rounded-0" %>
          <%= form.hidden_field :password_confirmation, placeholder: "6文字以上（確認用）", class: "form-control rounded-0" %>

          <div class="actions text-center">
            <%= form.submit class: "btn btn-outline-primary rounded-0" %>
          </div>

        <% end %>

      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <%= link_to t('views.users.back'), admin_user_url(@user), class: "btn btn-outline-primary rounded-0" %>
      </div>
    </div>

  </div>
</div>
