<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>YourTask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div id="wrapper">

      <header id="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #007BFF;">
          <% if logged_in? %>
            <%= link_to "Task", tasks_path, class: "navbar-brand", style: "color: #FFFFFF;" %>
          <% else %>
            <%= link_to "Task", new_session_path, class: "navbar-brand", style: "color: #FFFFFF;" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gnavi" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="gnavi">
            <ul class="navbar-nav ml-auto float-right">
              <% if logged_in? %>
                <% if current_user.admin? %>
                  <li class="nav-item">
                    <%= link_to "ユーザ管理", admin_users_path, class:"nav-link", style: "color: #FFFFFF;" %>
                  </li>
                <% end %>
                <li class="nav-item">
                  <%= link_to "#{@current_user.name}", user_path(@current_user.id), class:"nav-link", style: "color: #FFFFFF;" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", session_path(@current_user.id), method: :delete, class:"nav-link", style: "color: #FFFFFF;" %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>

      <div class="container-fluid">
        <div id="contents">
          <% if notice != nil %>
            <div id="notice">
              <strong><%= notice %></strong>
              <br>
              <br>
            </div>
          <% else flash != nil %>
            <div id="flash_msg">
              <% flash.each do |key, value| %>
                <strong><%= content_tag(:div, value, class:"#{key}") %></strong>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
          <div id="main_area">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer id="footer">
        Copyright © 2019 Yusuke Matsuda All Rights Reserved.
      </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
